$background-light: white;
$background-dark: #252329;
$background-blue: #2F80ED;
$devchallenges: #282051;
$text-gray: #BDBDBD;
$text-blue: #2D9CDB;
$text-dark: #333333;
$text-dark-gray: #828282;
$box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

