@import './globals.scss';

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login{
    display: flex;
    flex-direction: column;
    width: 31.5rem;
    border: 1px solid $text-gray;
    border-radius: 2.6rem;
    padding: 3.8rem;
}
.login h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-block-end: 0;
    margin-block-start: 1.2rem;
}

.login p{
    font-size: 1rem;
    font-weight: 400;
}

.fields-container{
    display: flex;
    flex-direction: column;
}

@mixin login-fields-mixin {
    height: 3.2rem;
    margin-top: 1rem;
    border: 1px solid $text-gray;
    border-radius: .53rem;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.9rem 0 0.9rem 2.8rem;
}

.email{
    @include login-fields-mixin();
    background: url('../public/email.svg') left no-repeat scroll;
    background-position: 0.5rem;
}
.password{
    @include login-fields-mixin();
    background: url('../public/password.svg') left no-repeat scroll;
    background-position: 0.5rem;
}



.login-button{
    @include blue-button-mixin();
    width: 100%;
}

.login-button:hover{
    background-color: $text-blue;
    cursor: pointer;
}


.small-gray-text {
    @include small-text();
    color: $text-dark-gray;
}


.social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}


// put image inside input css?


