/* .login_box {
    width: 340px;

    background-color: #fff;
} */

.rectangle184 {
    /* Rectangle 184 */

    box-sizing: border-box;

    position: absolute;
    left: 33.55%;
    right: 33.55%;
    top: 18.28%;
    bottom: 22.99%;

    border: 1px solid #BDBDBD;
    border-radius: 24px;
}

.path44 {
    /* path44 */

    position: absolute;
    left: 37.61%;
    right: 59.82%;
    top: 24.43%;
    bottom: 73.9%;
    
    background: #F0402C;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.text1 {
    /* Join thousands of learners from around the world */

    position: absolute;
    left: 37.61%;
    right: 40.24%;
    top: 26.97%;
    bottom: 68.4%;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.035em;

    color: #333333;

}

.text2 {
    /* Master web development by making real-life projects. There are multiple paths for you to choose */

    position: absolute;
    left: 37.61%;
    right: 40.24%;
    top: 32.95%;
    bottom: 60.94%;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.035em;

    color: #333333;
}

.rectangle181 {
    /* Rectangle 181 */

    box-sizing: border-box;

    position: absolute;
    left: 37.61%;
    right: 37.63%;
    top: 42.27%;
    bottom: 53.29%;

    border: 1px solid #BDBDBD;
    border-radius: 8px;
}

.rectangle182 {
    /* Rectangle 182 */

    box-sizing: border-box;

    position: absolute;
    left: 37.61%;
    right: 37.63%;
    top: 48.05%;
    bottom: 47.5%;

    border: 1px solid #BDBDBD;
    border-radius: 8px
}

.rectangle183 {
    /* Rectangle 183 */

    position: absolute;
    left: 37.61%;
    right: 37.63%;
    top: 54.58%;
    bottom: 41.9%;

    /* Blue 1 */

    background: #2F80ED;
    border-radius: 8px;
}

.text3 {
    /* or continue with these social profile */

    position: absolute;
    left: 42.43%;
    right: 42.43%;
    top: 61.03%;
    bottom: 37.21%;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: -0.035em;

    color: #828282;
}

.ellipse2 {
    /* Ellipse 2 */

    box-sizing: border-box;

    position: absolute;
    left: 41.94%;
    right: 55.15%;
    top: 64.87%;
    bottom: 31.24%;

    border: 1px solid #828282
}