@import './globals.scss';
// @import url( 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' );
// @import url( 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' );

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100vh;
}

.register-header{
    display: flex;
    width: fit-content;
    align-items: center;
    height: 7rem;
}

.register-header-logo{
    position: fixed;
    display: flex;
    top: 2.5rem;
    left: 5rem;
}

.register-header-profile{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 1.8rem;
    right: 5rem;

}

.register-header-profile span{

    width: 70px;
    height: 16px;

    padding: 1rem;
    /* Xanthe Neal */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.035em;

    /* Gray 1 */
    color: #333333;
}

.register-header-profile img{
    border-radius: 6px;
    width: 32px;
    height: 36.69px;
    background: url('../public/avatar-profile.png');
    // padding-right: 0.5rem;
}

.register-header-profile .arrow{
    width: 9px;
    height: 9px;
    background: url('../public/avatar.png');
}

.register-form{
    display: flex;
    flex-direction: column;
    // height: auto;
    width: 60rem;
    border: 1px solid $text-gray;
    border-radius: 7px;
    padding: 2rem 3rem;
}

.register-upper-link{
    margin-bottom: 1.3rem;
}

@mixin small-text {
    font-size: 1rem;
    font-weight: 400;
    color: $text-dark-gray;
    text-align: center;
}

.small-blue-text{
    @include small-text();
    color: $text-blue;
    
}

.register-form h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-block-end: 0;
    margin-block-start: 1.2rem;
}

.register-form p{
    font-size: 1rem;
    font-weight: 400;
}

.avatar { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar img{
    display: flex;
    width: 72px;
    height: 72px;

    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.avatar span{

    padding: 1.5rem;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: -0.035em;
    color: #828282;
}

.fields-container{
    display: flex;
    flex-direction: column;
}

@mixin login-fields-mixin {
    box-sizing: border-box;
    border: 1px solid #828282;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.9rem 0 0.9rem 2.8rem;
    width: 60%;
}

.input{
    @include login-fields-mixin();
    background-position: 0.5rem;
}
.bio{
    @include login-fields-mixin();
    background-position: 0.5rem;
    height:100px;
}


@mixin blue-button-mixin {
    background-color: $background-blue;
    color: $background-light;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: .5rem;
    margin: 1.5rem 0;
    border: 0;
}

.login-button{
    @include blue-button-mixin();
    width: 15%;
}

.register-lower-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.register-lower-link span{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.035em;

    color: #828282;
}

.register-footer{
    display: flex;
    width: fit-content;
    align-items: center;
    height: 5rem;
}