@import './globals.scss';
// @import url( 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' );
// @import url( 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' );

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100vh;
}

.register-header{
    display: flex;
    width: fit-content;
    align-items: center;
    height: 5rem;
}

.register-header-logo{
    position: fixed;
    display: flex;
    top: 20px;
    left: 20px;
}

.register-header-profile{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // width: 70px;
    // height: 16px;
    top: 20px;
    right: 20px;
}

.register-header-profile span{
    /* Xanthe Neal */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.035em;

    /* Gray 1 */
    color: #333333;
}

.register-header-profile img{
    width: 28px;
    height: 34px;
    background: url('../public/avatar.png');
}

.register-header-profile .arrow{
    width: 9px;
    height: 9px;
    background: url('../public/avatar.png');
}

.register-form{
    display: flex;
    flex-direction: column;
    // height: auto;
    width: 60rem;
    border: 1px solid $text-gray;
    border-radius: 7px;
    padding: 2rem;
}

.register-link{
    margin-bottom: 1.3rem;
}

@mixin small-text {
    font-size: 1rem;
    font-weight: 400;
    color: $text-dark-gray;
    text-align: center;
}

.small-blue-text{
    @include small-text();
    color: $text-blue;
    
}

.register-form h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-block-end: 0;
    margin-block-start: 1.2rem;
}

.register-form p{
    font-size: 1rem;
    font-weight: 400;
}

.avatar { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar img{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar span{
    // position: absolute;
    // left: 30.88%;
    // right: 62.38%;
    // top: 26.72%;
    // bottom: 71.62%;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: -0.035em;
    color: #828282;
}

// .avatar:before {
//     content: "\25AE";  /* this is your text. You can also use UTF-8 character codes as I do here */
//     font-family: FontAwesome;
//     left:-5px;
//     position:absolute;
//     top:0;
// }

// .avatar .fa-download{ 
//     position: absolute; 
//     bottom:10px; 
//     left:10px; 
// }

.fields-container{
    display: flex;
    flex-direction: column;
}

@mixin login-fields-mixin {
    height: 3.2rem;
    // margin-top: 1rem;
    border: 1px solid $text-gray;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.9rem 0 0.9rem 2.8rem;
    width: 50%;
}

.input{
    @include login-fields-mixin();
    background-position: 0.5rem;
}
.bio{
    @include login-fields-mixin();
    background-position: 0.5rem;
    height:100px;
}


@mixin blue-button-mixin {
    background-color: $background-blue;
    color: $background-light;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: .5rem;
    margin: 1.5rem 0;
    border: 0;
}
.login-button{
    @include blue-button-mixin();
    width: 15%;
}