@import './globals.scss';

.register-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.register-header {
    display: flex;
    width: 100%;
    height: 5rem;
    padding: 0 4rem;
    justify-content: space-between;
    align-items: center;
}

// .register-header-logo {}

.register-header-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 9.2rem;
}

.register-header-profile span {
    display: block;
    font-weight: 700;
    font-size: .8rem;
    line-height: 1rem;
    letter-spacing: -0.035em;
    color: $text-dark;
}

.register-header-profile img {
    border-radius: 0.4rem;
    background: url('../public/avatar-profile.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 2rem;
}

.register-header-profile .arrow {
    background: url('../public/avatar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    // height: auto;
    width: 60rem;
    border: 1px solid $text-gray;
    border-radius: .6rem;
    padding: 2rem 3rem;
}

.register-upper-link {
    margin-bottom: 1.3rem;
}

.register-form h3 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-block-end: 0;
    margin-block-start: 1.2rem;
}

.register-form p {
    margin: .5rem 0;
    @include small-text();
    color: $text-dark-gray;
    text-align: start;
}

.avatar {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar img {
    display: flex;
    width: 4.65rem;
    height: 4.65rem;

    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
}

.avatar span {

    padding: 1.5rem;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.2rem;
    /* identical to box height */
    letter-spacing: -0.035em;
    color: $text-dark-gray;
}

.fields-container {
    display: flex;
    flex-direction: column;
}

@mixin login-fields-mixin {
    box-sizing: border-box;
    border: 1px solid $text-dark-gray;
    border-radius: 0.8rem;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1.2rem;
    width: 60%;
    height: 3.45rem;
    margin-top: .3rem
}

.input {
    @include login-fields-mixin();
    background-position: 0.5rem;
}

.bio {
    @include login-fields-mixin();
    padding-top: 1rem;
    background-position: 0.5rem;
    height: 9.6rem;
}

.login-button {
    @include blue-button-mixin();
    width: 15%;
}

.login-button:hover {
    @include blue-button-mixin-hover();
}

.register-lower-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.register-lower-link span {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: -0.035em;

    color: $text-dark-gray;
}

.register-footer {
    display: flex;
    width: fit-content;
    align-items: center;
    height: 5rem;
}